@import "tailwindcss";
@plugin "daisyui" {
  themes: sunset --default;
}

.gradient-primary-content {
  background-image: linear-gradient(
    45deg,
    var(--color-primary) 0%,
    var(--color-secondary) 40%,
    var(--color-accent) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient-info-content {
  background-image: linear-gradient(
    45deg,
    var(--color-info) 50%,
    var(--color-success) 100% /*var(--color-warning) 100%*/
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.form-container {
  width: calc(100vw - 4rem);

  @media (width >= 24rem) {
    width: calc(100vw - 5rem);
  }

  @media (width >= 44rem) {
    width: 42rem;
  }
}

.gradient-animated {
  background:
    radial-gradient(100% 100% at var(--4-x-position) var(--4-y-position), var(--color-primary) 0%, transparent),
    radial-gradient(100% 100% at var(--5-x-position) var(--5-y-position), var(--color-secondary) 0%, transparent),
    var(--color-accent);
  animation-name: main;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition-timing-function: ease-in;
}
@property --4-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}
@property --4-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}
@property --5-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}
@property --5-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}

:root {
  --4-x-position: 20%;
  --4-y-position: 80%;
  --5-x-position: 80%;
  --5-y-position: 20%;
}
@keyframes main {
  25% {
    --4-x-position: 15%;
    --4-y-position: 15%;
    --5-x-position: 85%;
    --5-y-position: 80%;
  }
  50% {
    --4-x-position: 80%;
    --4-y-position: 15%;
    --5-x-position: 15%;
    --5-y-position: 85%;
  }
}
